.modal-content {
	box-shadow: 3px 4px 20px 0px black; 
}

body {
    background: url('https://mediaplanet.azureedge.net/images/881/91969/kastration.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }